---
swagger: "2.0"
info:
  description: ""
  version: "0.1.2"
  title: "Event Cadence Webhook API"
host: "webhookconnect.eventcadence.com"
basePath: "/"
tags:
- name: "registerAttendee"
schemes:
- "https"
paths:
  /{eventCode}/registerAttendee:
    post:
      tags:
      - "registerAttendee"
      summary: "Register an Attendee"
      description: "Use this to register attendees to your event."
      operationId: "registerAttendee"
      produces:
      - "application/json"
      parameters:
      - name: "eventCode"
        in: "path"
        description: "The webhook eventCode provided to you by your contact at Cadence."
        required: true
        type: "string"
      - in: "body"
        name: "body"
        description: "JSON body of fields used to register the attendee."
        required: true
        schema:
          $ref: "#/definitions/registerAttendee"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/ApiResponse"
        "400":
          description: "Required field missing"
        "404":
          description: "eventCode not found."
      security:
      - api_key: []
securityDefinitions:
  api_key:
    type: "apiKey"
    name: "api_key"
    in: "header"
definitions:
  registerAttendee:
    type: "object"
    required:
      - email
    properties:
      profile: 
        type: "object"
        properties:
          prefix: 
            type: "string"
          firstName:
            type: "string"
          lastName:
            type: "string"
          email:
            type: "string"
          phone:
            type: "string"
          website:
            type: "string"
          facebook:
            type: "string"
          twitter:
            type: "string"
          linkedin:
            type: "string"
          instagram:
            type: "string"
          thirdPartyId:
            type: "string"
          title:
            type: "string"
          manager:
            type: "string"
          jobRole:
            type: "string"
          department:
            type: "string"
          company:
            type: "string"
          city:
            type: "string"
          state:
            type: "string"
          country:
            type: "string"
          assistantName:
            type: "string"
          assistantPhone:
            type: "string"
          assistantEmail:
            type: "string"
          motto:
            type: "string"
          biography:
            type: "string"
          customFields:
            type: array
            items:
              $ref: "#/definitions/customFields"
            example: 
              - fieldName: Favorite color
                fieldValue: Blue
              - fieldName: Alumni year
                fieldValue: "1998"
          password:
            type: "string"
      eventInfo:
        type: "object"
        properties: 
          groups:
            type: object
            properties: 
              groupNames:
                type: array
                items: 
                  type: "string"
                example:
                  - Group A
                  - Group B
                  - Group C
              groupIds:
                type: array
                items: 
                  type: "integer"
                format: "int64"
                example:
                  - 123
                  - 456
                  - 789
    xml:
      name: "registerAttendee"
  customFields:
    type: "object"
    properties:
      fieldName:
        type: "string"
      fieldValue: 
        type: "string"
  ApiResponse:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
      type:
        type: "string"
      message:
        type: "string"
